<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-margin">
      <small style="margin-left: 15px;">Admin Dashboard</small>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

    <ion-list>
      <ion-item lines="none" class="profile">
        <div class=" img-container">
          <img src="img_avatar.png" alt="Avatar" class="image">
          <div class="overlay">My Name is John</div>
        </div>  
      <ion-label>
          <ion-card-title class="title">Mr Kevwe Modupe</ion-card-title>
          <p class="subtitle">MrKevweModupe@gmail.com</p>
          <button class="edit-btn" [routerLink]="['/edit']" routerLinkActive="router-link-active" >Edit profile</button>
      </ion-label>
    </ion-item>
      <ion-item>
        <img src="" class = "icon" alt="" srcset="">
        <ion-label class="text-bold">Total Post Made</ion-label>
        <small>111</small>
      </ion-item>

      <ion-item>
        <img src="" class = "icon" alt="" srcset="">
        <ion-label class="text-bold">Total Users</ion-label>
        <small>100</small>
      </ion-item>
      <ion-item>
        <img src="" class = "icon" alt="" srcset="">
        <ion-label class="text-bold">Total I-Reporter  </ion-label>
        <small>100</small>
      </ion-item>
      <ion-item>
        <img src="" class = "icon" alt="" srcset="">
        <ion-label class="text-bold"> </ion-label>
        <small>100</small>
      </ion-item>
    </ion-list>
     
</ion-content>
