*{
  padding: 0px;
  margin: 0px;
}
.hearder-icon{
height: 20px;
width: 20px;
}
ion-segment-button{
font-size: medium;
}
.profile{
margin-top: 10px;
margin-bottom: 10px;
// text-align: center;
// display: grid;
// justify-self: center;
// align-self: center;
// justify-items: center;
// justify-content: center;

.profile-img{
  height: 100px;
  width: 100px;
  border-radius: 70px ;
}
.title{
 font-size: 20px;
 font-weight: bold;
 }
 button{
  padding-left: 15px;
  padding-right: 15px;
 }


}
.edit-btn{
  border: solid 1px limegreen;
  color: limegreen;
  text-align: center;
  background-color: white;
  font-size: small;
  padding: 3px;
  margin-top: 3px;
  border-radius: 2px;
}
.text-bold{
font-weight: 600;
}
.post-img{
 height: 200px;
 width: 100%;
 background-color: grey;
 border-radius: 5px;
}




.scroll {   
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
 .ireport{
  flex: 0 0 auto;
  cursor: pointer;   
 }
.card{
  flex: 0 0 auto;
  cursor: pointer;
  border: none;
  background-image: linear-gradient(1deg, #fefeff 27%, #f8f9fe 100%);
  width: 250px;
}

}

.apply{
  color:black;
  width: 50%;
  height: 50px;
  border-radius: 5px;
  background-color: #e8feeb;
}

.bg{
  border: solid 1px#e0e0e0;
  margin: 10px;
  border-radius: 2px;
  --ion-item-background: linear-gradient(2deg, #fefeff 29%, #f8f9fe 96%);
}