<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/sharing"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-margin">
      <small style="margin-left: 15px;">Admin Dashboard </small>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list lines="none">
      <ion-item lines="none" class="profile">
        
         <ion-img class="profile-img" src="assets/images/muyi.jpg"></ion-img>
      
      <ion-label class="ml-3">
          <ion-card-title class="title">ero osamuyi</ion-card-title>
          <p class="subtitle">eroosamuyi@gmail.com</p>
          <button class="edit-btn" [routerLink]="['/edit']" routerLinkActive="router-link-active" >Edit profile</button>
      </ion-label>
     </ion-item>
  <ion-item lines="none">
    <ion-text >
      <p>Dashboard</p>
    </ion-text>
  </ion-item>
  <!-- user wallet -->
      <!-- <ion-item  data-toggle="collapse" data-target="#wallet" aria-expanded="false" aria-controls="wallet">
        <img style="height: 30px;width: 30px; margin-right: 10px;" src="assets//images//wallet1.svg" class = "icon" alt="" srcset="">
        <ion-label class="text-bold">My Wallet</ion-label>
        <ion-icon size="small" name="chevron-down-outline"></ion-icon>
      </ion-item>  -->
  


     <!-- user detail -->
      <ion-item  data-toggle="collapse" data-target="#Detail" aria-expanded="false" aria-controls="Detail">
         <ion-label class="text-bold"><p>  User Ready for Payment  </p></ion-label>
         <small>1</small>
         <ion-icon size="small"name="chevron-down-outline"></ion-icon>
      </ion-item>
    <!-- user datail -->
      <div class="collapse " id="Detail">
       <ion-list lines="none">
         <div class="scroll">
          <ion-card *ngFor="let item of [1,1,1,1,1,1,1,1]" style="width: 300px;" class="m-3 ireport p-2 pt-2 pb-2">
                <img style="height: 120px;width: 120px;border-radius: 5px; margin-right: 10px;"  src="assets/images/muyi.jpg"  alt="" srcset="">
            
                <ion-item>
                    <ion-label>  <p>Username</p></ion-label>
                    <p>osamuyi</p>
                </ion-item>
                <ion-item>
                    <ion-label> <p> User Email</p> </ion-label> <p>eroosamuyi11451@gmail.com</p>
                </ion-item>
                <ion-item><ion-label><p>User number</p></ion-label><p> 090577795049</p> </ion-item>
                <ion-item>
                    <ion-label><p>Account name </p></ion-label>
                    <p>Erooosmauyi</p>
                </ion-item>
                <ion-item>
                    <ion-label><p>Bank </p></ion-label>
                    <p>First bank </p>
                </ion-item>
                <ion-item>
                  <ion-label><p>Account Number </p> </ion-label>
                  <p>3573983478712</p>
                </ion-item>
                <ion-item>
                  <ion-label><p>Amount  </p> </ion-label>
                  <p>N1000</p>
                </ion-item>
                <ion-item>
                  
                  <button class="btn  p-2 btn-black orange pl-4 pr-4" type="button">Remove </button>
                </ion-item>
            </ion-card>
         </div>
    
       </ion-list>
      </div>
      <!-- user detail end  -->
      <ion-item  data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <ion-label class="text-bold"> <p>I-report Post</p> </ion-label>
        <small>1</small>
        <ion-icon size="small"name="chevron-down-outline"></ion-icon>
      </ion-item>
       <div class="collapse m-3" id="collapseExample">
         <div class="scroll">
         <ion-card *ngFor="let item of [1,1,1,1,1]" class="ion-no-margin mr-2 card ion-no-padding">
          
             <div class=" mb-2 post-img" >
               <img class="img-fluid" src="" alt="">
             </div>
              <div class="m-3" >
              <p class="text-bold">
              Nigerian vocalist/producer Davido was born David Adedeji Adeleke in Atlanta,

              </p>
                <small class="text-muted">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus nulla aperiam deleniti ex saepe ea laudantium, mollitia dolor sapiente. Autem quas culpa repudiandae reiciendis hic dolor inventore dolorum totam magni.
                </small>         
             </div>   
             <ion-item>
               <button class="btn btn-success mb-3 p-2 btn-sm pl-4 pr-4 mr-3" type="button">Approve</button>
               <button class="btn btn-danger mb-3 p-2 btn-sm pl-4 pr-4" type="button">Delete</button>
             </ion-item>
         </ion-card>
         </div>

       </div>  
 
    </ion-list>
</ion-content>
