
    .main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      height: 100%;
      overflow: scroll;
    }
  
    .login {
      text-align: center;
      .google-btn {
      
        margin: auto;
        margin-top: 64px;
        width: 294px;
        height: 50px;
        border-radius: 7px;
        border: #ce0b0b solid 1px;
        background-color: #ffffff;
        .btn-text {
          height: 19px;
          font-size: 15px;
          font-weight: 500;
        }
            img{
              height: 20px;
              width: 20px;
            }
      }
    }
  
    .signup {
      text-align: center;
      .info {
        text-align: left;
        font-size: 15px;
        font-weight: 500;
        margin-top: 15px;
      }
    
  }
  