<ion-header >
  <ion-toolbar color="success">
    <ion-title>Assistant</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <div class="quickmail" >
    <div class="hint">
      How can we help you?
    </div>
    <ion-item no-padding no-margin>
       <ion-input type="text" placeholder="Describe your issue"></ion-input>
       
        <ion-icon slot="end" color="success" name="arrow-forward"></ion-icon>
    
    </ion-item>
  </div>
  <div class="line"></div>

  <div class="contact" >
    <ion-item lines = "none" no-padding>
      <div class="title">Contact Us</div>
      <ion-button clear slot="end" color="success" class="action">Hide hour</ion-button>
    </ion-item>
    <div class="phone-action">
      <ion-icon color="success" name="logo-whatsapp"></ion-icon>
      <div class="hint">Phone</div>
      <div class="time">Available 24/7</div>
    </div>
  </div>
  <div class="line"></div>
  <!-- <div class="feedback" padding-horizontal> -->
    <ion-item  lines = "none" no-padding>
      <ion-icon name="chatbubble-ellipses-outline" color="success"></ion-icon>
      <ion-label> Send feedback  </ion-label> 
    </ion-item>
  <!-- </div> -->
</ion-content>
