<ion-tabs >

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sharing">
      <ion-icon name="custom-sharing"></ion-icon>
      <ion-label>Sharing</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="live">
      <ion-icon name="play"></ion-icon>
      <ion-label>live</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="assistant">
      <ion-icon name="headset-outline"></ion-icon>
      <ion-label>Assistant</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
