
<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-title color="success"> Live Streaming</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-refresher >
    <ion-refresher-content pullingText="Pull to refresh"></ion-refresher-content>
  </ion-refresher> -->
  <!-- <div class="loading" >
    <ion-spinner color="primary"></ion-spinner>
  </div> -->
  <!-- <div  class="banner-section">
    <p padding-horizontal>Up Next</p>
    <ion-card>
      <img src="event.nextEventBanner" alt="up next on tsltv">
    </ion-card>
  </div> -->
  <div  class="video-section">
    <ion-item lines = "none">
      <ion-label>
        <p class="title">this is the event title </p>
      </ion-label>
      <div slot="end" class="status" >live now</div>
    </ion-item>
    <div class="video-box">
      <iframe width="100%" modestbranding="1"
       height="250" src="https://www.youtube.com/embed/v=4JgLHC-ugJA"
       frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
  <div class="events-schedule" padding>
    <div class="title">Airing Next</div>
    <div class="no-event" >No event is airing next</div>
    <div tappable  class="event" >
      <div class="overview">
        <div class="title">
          <ion-icon  class="icon" color="success" name="play"></ion-icon>
          event title
        </div>
        <div class="time">
          4898548
        </div>
      </div>
      <div class="overview mt-1 mb-1">
        <div class="title">
          <ion-icon  class="icon" color="success" name="play"></ion-icon>
          event title
        </div>
        <div class="time">
          4898548
        </div>
      </div>
      <div class="overview">
        <div class="title">
          <ion-icon  class="icon" color="success" name="play"></ion-icon>
          event title
        </div>
        <div class="time">
          4898548
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="posts">
    <div class="head">Recent Videos</div>
    <ion-card   tappable >
      <ion-card-content >
        <ion-item text-wrap no-lines no-padding no-margin>
          <div class="title" >
            this is is the title of the case
          </div>
          <span class="excerpt" >
            time
          </span>
          <div class="footer">
            <img src="assets/imgs/tsltv.png" alt="tsltv logo">
            <span>TslNigeria Tv News</span>
            <div class="bullet"></div>
            <span>t869 ago</span>
          </div>
          <ion-thumbnail slot="end">
            <img src="" alt="">
          </ion-thumbnail>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div> -->

</ion-content>
