<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border" color="white">
    
    <ion-button fill='clear' slot="end" color="success" >
      Dashboard
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content  padding class="ion-padding">
  <div>
    <img src="assets//images//slider1.jpg" alt="" srcset="">
    <div>
      <p class="text-bold">
        About I-Report
      </p>
      <small class="text-muted">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt exercitationem, possimus id ipsa delectus repellat error ab dolorem vero nostrum quis quaerat, ipsum eius aut explicabo maxime voluptatum. Inventore, ab!
      </small>
    </div>
  </div>
  <div >
    <br>
  <ion-button (click)="register()" [routerLink]="['/iregister']" routerLinkActive="router-link-active"  color="success"  shape="round">
      Register
   </ion-button>  
 
     <!-- <ionbutton class="btn ireport-btn" (click)="register()" type="button">Register as an I-reporter</ionbutton> -->
   
  <form >
    <div class="texts">
      <ion-item no-lines no-padding>
        <ion-textarea  rows="2" class="title" placeholder="Title"></ion-textarea>
      </ion-item>
      <ion-item no-lines no-padding>
        <ion-textarea  rows="3" placeholder="Post"></ion-textarea>
      </ion-item>
    </div>
  </form>
  <div class="media-1">
    <div class="note">Add Photo/Video</div>
  
    <div class="selected-media">
      <div class="action"   >
        <ion-icon name="play" class="icon"></ion-icon>
        Play Selected Video
      </div>

      <div class="action image" >
        <!-- <img [src]="image" [imageViewer]="image" class="icon"> -->
      </div>
    </div>

    <div  class="action">
      <ion-icon class="icon" name="add"></ion-icon>
      Take Photo
    </div>
    <div class="action">
      <ion-icon class="icon" name="add"></ion-icon>
      Choose Image
    </div>
    <div  tappable class="action">
      <ion-icon class="icon" name="add"></ion-icon>
      Choose Video
    </div>
  </div>

</div>
</ion-content>