<ion-header class="ion-no-border" >

  <ion-toolbar  color="success">
    <ion-item color="success" class="search-bar" lines ='none'>
       
     <ion-icon (click)="menuOpen()" name="menu"></ion-icon>
      <!-- <ion-avatar (click)="openAccountOptions()" tappable item-left class="avatar">
        <img src="{{user?.imageUrl || 'assets/imgs/avatar.png'}}">
        <img src="assets//images/slider1.jpg" alt="" srcset="">
      </ion-avatar> -->
      <span tappable (click)="goToSearch()">
        <ion-searchbar class="searc" mode="wp" placeholder="Search 'Latest News'"></ion-searchbar>
      </span>
      
    </ion-item>
  </ion-toolbar>

</ion-header>
<ion-content #content>
  <ion-refresher  (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh"></ion-refresher-content>
  </ion-refresher>

  <div class="categories">
    <div class="categorySlider">
      <div class="category-box">
        <div [routerLink]="['/home', item.id]" *ngFor="let item of categories$ | async"
          class="category">
          <div class="image">
            <img [src]="item.image" alt="">
          </div>
          <div class="title" text-capitalize>
            {{item.name}}
          </div>
        </div>
        <div (click)="openCategoryDetails('ireport','iReport')" tappable class="category">
          <div class="image">
            <img src="assets/imgs/categories/ireport.svg" alt="">
          </div>
          <div class="title">
            iReport
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div *ngIf="adSlides && adSlides.length" class="ads">
    <div class="title">Sponsored Ads</div>
    <ion-slides #adSlider  >
      <ion-slide tappable *ngFor="let slide of adSlides" (click)="openPost(slide.link)">
        <ion-card  >
          <img [src]="slide.imageUrl" alt="sponsored ad">
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>  -->
  
  <ion-spinner name="crescent"  *ngIf="!posts" color="success"></ion-spinner>
  <div class="posts">
    
    <ion-card (click)="loadPost(post)" padding-bottom *ngFor="let post of posts$ | async" >
      <ion-card-content no-margin>
        <ion-item  lines='none' class="ion-no-padding">
         <ion-label>
           <p class="title"  [innerHTML]="post.title.rendered"></p>
          <span class="excerpt" [innerHTML]="post.excerpt.rendered"></span>        
         </ion-label>

          <ion-thumbnail slot="end">
            <img [src]="post.featured_image" >
          </ion-thumbnail>
          </ion-item>
          <div class="footer">
            <img src="{{post.image}}" alt="tsltv logo">
            <span>TslNigeria Tv News</span>
            <div class="bullet"></div>
            <span> By {{post._embedded.author[0].name }}</span> 
          </div>

      </ion-card-content>

    </ion-card>
  </div> 

   <!-- <ion-infinite-scroll  (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>  -->

  
</ion-content>

