<ion-header>
  <ion-toolbar>
    <ion-title>post-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card padding-bottom *ngIf="post$ | async as post">
    <img class="postimage" [src]="post.featured_image" />
    <ion-card-header>
      <ion-card-subtitle>By {{post._embedded.author[0].name }}</ion-card-subtitle>
      <ion-card-title [innerHTML]="post.title.rendered"> </ion-card-title>
    </ion-card-header>
    <ion-card-content [innerHTML]="post.content.rendered">
     
    </ion-card-content>
  </ion-card>
</ion-content>
